
body {
	font-family: arial;
	font-style: normal;
	font-size: 14px;
}

a.button {
	text-decoration: none;
	padding: 4px 30px;
	color: #555;
	background: #ddd;
	text-transform: uppercase;
	font-size: .9em;
	border-radius: 5px;
}

a.button:hover{
	color: #fff;
	background: #999;
}

a.warn {
	background: #fec1b4;
}
a.warn:hover {
	background: #fe7669;
}

.buttons {
	clear: both;
	padding-top: 10px;
}

/* detail form */
form {
	background: #eee;
	width: 500px;
	padding: 10px 0;
	border-radius: 5px;
}

label {
	display: inline-block;
	text-align: right;
	margin-right: 20px;
	width: 70px;
}
input {
	line-height: 1.5em;
	border: 1px solid #bbb;
	text-indent: 0.3em;
	font-size: .9em;
}
.error {
	color: red;
	padding-left: 10px;
}

/* list table */
table {
	border-collapse: collapse;
}
th {
	border-bottom: 1px solid #bbb;
	text-transform: uppercase;
	font-size: .9em;
}
tr {
	border-bottom: 1px solid #eee;
}
tr:last-child {
	border-bottom: 1px solid #bbb;
}
td {
	padding: 10px 30px 5px 30px;
}
